* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: Noto Sans KR;
    font-size: 12px;
    line-height: 24px;
    color: #333;
    position: relative;
}

/*header*/
#header_wrap {
    height: 175px;
    width: 100%;
    position: relative;
}

.header {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 30px;
    box-sizing: border-box;
    height: 110px;
}

.login {
    position: absolute;
    top: 30px;
    right: 0;
    display: flex;
    font-weight: bold;
}

.login li a {
    color: #706f6f;
}

#gnb_wrap {
    height: 65px;
    position: relative;
    z-index: 9;
}

.gnb {
    width: 1320px;
    margin: 0 auto;
    display: flex;
}

.gnb>li {
    width: 16%;
    text-align: center;
    letter-spacing: 2px;
}

.gnb>li>a {
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #3c3c3b;
    padding: 20px 0 21px 0;
}

.gnb>li>a:hover {
    border-bottom: 2px solid #f9b10d;
}

.submenu {
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

.submenu li a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 13px;
}

.submenu li a:hover {
    background-color: rgba(255, 255, 255, 0.8)
}

.gnb li:hover .submenu {
    display: block;
}

.m_gnb {
    display: none;
}

/*title*/
#title {
    background-color: #f6f6f6;
    height: 165px;
    margin-bottom: 30px;
}

#title p {
    text-align: center;
    padding-top: 70px;
    font-size: 25px;
    font-weight: bold;
}

#title img {
    margin-right: 10px;
}

/*container*/
#container {
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 150px;
}

.list {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.list li {
    width: 450px;
    height: 287px;
    display: flex;
    border-radius: 20px;
    background-color: #25a2bb;
    margin-bottom: 80px;
}

.text {
    color: #fff;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 25px;
}

.text a {
    color: #25a2bb;
    display: inline-block;
    background-color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 15px;
}

.text a:hover {
    background-color: #176675;
    color: #fff;
}

.page_number {
    text-align: center;
}

.page_number a {
    font-size: 14px;
    letter-spacing: 5px;
}

/*footer*/
#footer_wrap {
    background-color: #f6f6f6;
    color: #333;
    text-align: left;
    overflow: hidden;
}

.footer {
    width: 1320px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px;
}

.link {
    text-align: left;
    display: flex;
}

.link li a {
    color: #333;
    padding: 0 30px 0 0;
    margin: 0 auto;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 20px;
}


/*tablet*/
@media (max-width:1320px) {

    /*header*/
    .header {
        width: 100%;
    }

    .gnb {
        width: 100%;
    }

    /*container*/
    #container {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 150px;
    }

    .list {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }


    /*footer*/
    .footer {
        width: 100%;
        ;
    }

    .link {
        text-align: left;
    }
}

/*tablet*/
@media (max-width:1055px) {
    .list {
        flex-direction: column;
        align-items: center;
    }
}

/*mobile*/
@media (max-width:700px) {
    .header {
        width: 100%;
        position: relative;
    }

    .login,
    .gnb {
        display: none;
    }

    .m_gnb {
        display: block;
        position: absolute;
        top: -70px;
        right: 20px;
    }

    /*container*/
    #container {
        width: 100%;
    }

    .list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .list li:nth-child(4) {
        display: none;
    }

    /*footer*/
    .footer {
        width: 100%;
    }
}